* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

form,
input,
button,
label {
  font-family: inherit;
  font-size: 24px;
}

header {
  height: 15vh;
  background-color: #f0dbdb;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.2);
}

h1 {
  font-size: 48px;
  font-weight: 800;
}

.card {
  font-size: 20px;
  display: grid;
  justify-content: center;
  background-color: #dae2b6;
  border-radius: 10px;
  min-width: 300px;
}

.books-display {
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  align-items: flex-end;
}

.modal div {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

input {
  outline: none;
  border: 2px black solid;
  padding: 5px;
  flex: 1;
  border-radius: 10px;
}

.modal div label {
  width: 100px;
  text-align: right;
}

.modal div label[for="has-read"] {
  width: auto;
  margin-left: auto;
}

.modal div input[type="checkbox"] {
  flex-grow: 0;
  display: inline-block;
  flex-basis: 24px;
  appearance: none;
  height: 24px;
  border: 1px grey solid;
  margin: 0 10px;
  position: relative;
}

.modal div input[type="checkbox"]:checked::before {
  content: "✓";
  position: absolute;
  inset: 0;
  top: -4px;
  left: 1px;
}

.modal div:last-child {
  justify-content: center;
}

.modal div button {
  padding: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.invalid {
  border: 2px solid red;
}

.valid {
  border: 2px solid green;
}
