* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

form,
input,
button,
label {
  font-family: inherit;
  font-size: 20px;
}

header {
  background-color: #f0dbdb;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 10px 0 rgb(0, 0, 0, 0.2);
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  flex-basis: 100%;
}

header button {
  padding: 5px;
  border: 2px solid pink;
  border-radius: 10px;
  background: linear-gradient(to right, pink, #f985f0, pink);
}

header button:hover {
  background: linear-gradient(to right, #d92ad9, #f985f0, #d92ad9);
  border: 2px solid purple;
}

.card {
  font-size: 20px;
  display: grid;
  justify-items: center;
  align-content: space-between;
  gap: 10px;
  background-color: #dae2b6;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 10px 0 rgb(0, 0, 0, 0.2);
}

.card button {
  width: 70%;
  border: none;
  border-radius: 5px;
}

.btnRead {
  background-color: green;
}

.btnUnread {
  background-color: red;
}

.books-display {
  padding: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}

.modal div {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal .checkbox {
  justify-content: center;
  flex-direction: row;
}

input {
  outline: none;
  border: 2px black solid;
  padding: 5px;
  flex: 1;
  border-radius: 10px;
}

input[type="text"],
input[type="number"] {
  width: 250px;
}

input + span {
  font-size: 14px;
  font-weight: bold;
  color: red;
  width: 250px;
}

.modal div input[type="checkbox"] {
  flex-grow: 0;
  display: inline-block;
  flex-basis: 24px;
  appearance: none;
  height: 24px;
  border: 1px grey solid;
  margin: 0 10px;
  position: relative;
}

.modal div input[type="checkbox"]:checked::before {
  content: "✓";
  position: absolute;
  inset: 0;
  top: -2px;
  left: 2px;
}

.modal div button {
  padding: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.user-stats {
  font-size: 20px;
  width: 270px;
}

.readBooks {
  color: green;
}

.unreadBooks {
  color: red;
}

.invalid {
  border: 2px solid red;
}

.valid {
  border: 2px solid green;
}
